@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.profile-card{

    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 370px;
    
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
 
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.profile-card::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #0b46e8;

}

.image  {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: blue;
    padding: 3px;
    margin-bottom: 10px;
    
}

.image .profile-img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.profile-card .text-data{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #333;
    padding: 5px;
}

.text-data .name{
    font-size: 22px;
    font-weight: 500;
}
.text-data .job{
    font-size: 15px;
    font-weight: 400;
}


.profile-card .media-buttons{
    display: flex;
    align-items: center;
}

.media-buttons .link{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color:#fff;
    font-size: 18px;

    height: 34px;
    width: 34px;
    margin: 0 8px;
    background-color: #4070f4;
    text-decoration: none;

}


.profile-card .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.buttons .button{

    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border:none;
    background-color: #104beff3;
    margin: 10px;
    padding: 8px 24px;
    border-radius: 24px;
    cursor: pointer;
    /* transition: all 0.3s ease; */
}

.buttons .button:hover{
    background-color: #03103230;
}


.profile-card .analytics{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.analytics .data{
    display: flex;
    align-items: center;
    color:#333;
    padding: 0 20px;
    /* font-size: 20px; */
    border-right: 2px solid #e7e7e7;
}
.data i{
    font-size: 18px;
    margin-right: 6px;
}

.data:last-child{
    border-right: none;
}