@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,900&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.main{
    /* 1 */
    width: 100%;
    height: 100vh;
    background: url('../Assets/BackPic.webp');
    background-size: cover;
    background-position: center;
}

.overlay{
    /* 2 */
    width: 100%;
    height: 100%;

    /* Ligt gray color appearing on screen */
    background-color: rgba(0, 0, 0, 0.7);

    /* 3 */
    display: flex;

    /* 7 */
    align-items: center;


    /* 5 */
    flex-direction: column;
    
}


.title{
    /* 4 */
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

.col{
    /* 6 */
    width: 1000px;
    height: 100px;
    /* border: 1px solid red; */
    /* margin: 10px auto; */

    /* 8 */
    display: flex;

    /* 11 */
    justify-content: center;
    text-align: center;

    /* 13 */
    color: white;

    /* 15 */
    margin-top: 10px;
}

.col div{
    width: 250px;
    text-align: center;
}
/* Making all input as 1 block */
input{

    /* 12 */
    width: 60%;
    height: 50%;


    /* 10 */
    /* display: block; */

    /* 14 */
    background-color: rgba(255, 255, 255, 0.7);
    border-color: transparent;
    border-radius: 5px;
    /* 16 */
    text-align: center;
    font-size: 30px;
    

}